@model WebUI.Models.VehicleBrand.VehicleBrandCreateViewModel
@using WebUI.Auth

@{
    ViewData["Title"] = "Yeni Araç Markası Ekle";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Yeni Araç Markası Ekle</h4>
            </div>
            <div class="card-body">
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-4 d-flex justify-content-end gap-2">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-save"></i> Kaydet
                        </button>
                        <a asp-action="Index" class="btn btn-secondary btn-sm">
                            <i class="fa fa-arrow-left"></i> Listeye Dön
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 