@model Domain.Entities.Branch
@using WebUI.Auth

@{
    ViewData["Title"] = "Şube Detayı";
    bool hasEditPermission = User.IsInRole("Admin") || User.IsInRole("Branch_Edit");
    bool hasRemovePermission = User.IsInRole("Admin") || User.IsInRole("Branch_Remove");
}

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Şube Detayı</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Şube Adı</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

                    <dt class="col-sm-3">Kapasite</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Capacity)</dd>
                </dl>
                <div class="d-flex justify-content-end gap-2 mt-4">
                    @if (hasEditPermission)
                    {
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">
                            <i class="fa fa-pencil"></i> Düzenle
                        </a>
                    }
                    @if (hasRemovePermission)
                    {
                        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i> Sil
                        </a>
                    }
                    <a asp-action="Index" class="btn btn-secondary btn-sm">
                        <i class="fa fa-arrow-left"></i> Listeye Dön
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> 